body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1f1f20;
}

.primary-btn{
border: rgb(104, 101, 101);
padding: 10px 20px;
border-radius: 10px;
background-color: black;
color: whitesmoke;
}

.primaryimage{
    opacity: 0.6;
}